@font-face {
  font-family: "GenshinImpactZhLv1";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url(../gichn_mini_zhlv1.ttf) format("TrueType");
}

.body {
  font-family: "GenshinImpactZhLv1";
}

.navi {
  background-color: #799625; /*Background color for navigation menu*/
  padding: 10px 20px; /* Inner padding */
}

.navi ul {
  list-style-type: none; /* Get rid of the bullet */
  padding: 0;
  margin: 0;
  display: flex; /* Use flexbox arrangement */
}

.nav-item {
  margin-right: 25px; /* Margin between each item */
}

.nav-item a {
  text-decoration: none; /* Get rid of the underline */
  color: white; /* Link text color */
  padding: 8px 16px; /* Inner padding */
  transition: background-color 0.3s, color 0.3s; /* Transistion  effect */
}

.nav-item a:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Background color on hover */
  color: #ffcc00; /* Text color on hover */
}

/* clearfix for the navi */
.navi ul::after {
  content: "";
  display: block;
  clear: both;
}

/* If the width is less than 1240 pixels */
@media (max-width: 1240px) {
  .navi {
    padding: 5px 10px; /* Reduce inner padding */
  }

  .navi ul {
    flex-direction: column; /* Vertical navigation bar */
    align-items: center; /* Center allign */
  }

  .nav-item {
    margin-right: 0; /* No horizontal margin */
    margin-bottom: 25px; /* Increase the vertical margin  */
  }

  .nav-item a {
    font-size: 16px; /* Adjust the font size */
    padding: 10px 20px; /* Increase the clickable area */
  }
}
