@font-face {
  font-family: 'GenshinImpactZhLv1';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url(https://www.yuanshen.dev/gichn_mini_zhlv1.ttf) format('TrueType');
}

.body {
	font-family: 'GenshinImpactZhLv1';
}

.navi {
	float: left;
	margin-right: 25px;
}