/* 默认的导航栏样式 */
@font-face {
  font-family: "GenshinImpactZhLv1";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url(./gichn_mini_zhlv1.ttf) format("TrueType");
}

.body {
  font-family: "GenshinImpactZhLv1", sans-serif;
}

.navi {
  background-color: #799625;
  padding: 10px 20px;
}

.navi ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap; /* 在小屏幕时允许项目换行 */
}

.nav-item {
  margin-right: 25px;
}

.nav-item a {
  text-decoration: none;
  color: white;
  padding: 8px 16px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-item a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffcc00;
}

/* clearfix for the navi */
.navi ul::after {
  content: "";
  display: block;
  clear: both;
}

/* 响应式布局：针对屏幕宽度小于1090px的设备（如手机） */
@media (max-width: 1090px) {
  .navi {
    padding: 5px 10px; /* 减少导航栏内边距 */
  }

  .navi ul {
    flex-direction: column; /* 导航项垂直排列 */
    align-items: center; /* 居中对齐 */
  }

  .nav-item {
    margin-right: 0;
    margin-bottom: 25px; /* 增加导航项之间的垂直间距 */
  }

  .nav-item a {
    font-size: 16px; /* 调整字体大小 */
    padding: 10px 20px; /* 增加点击区域 */
  }
}
