@font-face {
  font-family: "GenshinImpactZhLv1";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url(./gichn_mini_zhlv1.ttf) format("TrueType");
}

.body {
  font-family: "GenshinImpactZhLv1";
}

.navi {
  background-color: #799625; /* 背景色 */
  padding: 10px 20px; /* 内边距 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* 阴影效果 */
}

.navi ul {
  list-style-type: none; /* 移除默认的项目符号 */
  padding: 0;
  margin: 0;
  display: flex; /* 使用 Flexbox 布局 */
}

.nav-item {
  margin-right: 25px; /* 设置每个导航项之间的间距 */
}

.nav-item a {
  text-decoration: none; /* 去掉链接的下划线 */
  color: white; /* 设置链接文本颜色 */
  padding: 8px 16px; /* 添加内边距，增加可点击区域 */
  transition: background-color 0.3s, color 0.3s; /* 添加过渡效果 */
}

.nav-item a:hover {
  background-color: rgba(255, 255, 255, 0.2); /* 悬停时的背景颜色 */
  color: #ffcc00; /* 悬停时的文本颜色 */
}

/* clearfix for the navi */
.navi ul::after {
  content: "";
  display: block;
  clear: both;
}
