/* 默认的导航栏样式 */
@font-face {
    font-family: "GenshinImpactZhLv1";
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url(./img/gichn.woff2) format("woff");
}

@keyframes blurFadeIn {
    0% {
        backdrop-filter: blur(0); /* 从不模糊开始 */
        -webkit-backdrop-filter: blur(0);
        opacity: 0; /* 从透明开始 */
    }
    100% {
        backdrop-filter: blur(5px); /* 结束时模糊5px */
        -webkit-backdrop-filter: blur(5px);
        opacity: 1; /* 最终完全可见 */
    }
}

/*兼容Safari的代码*/
@-webkit-keyframes blurFadeIn {
    0% {
        backdrop-filter: blur(0); /* 从不模糊开始 */
        -webkit-backdrop-filter: blur(0);
        opacity: 0; /* 从透明开始 */
    }
    100% {
        backdrop-filter: blur(5px); /* 结束时模糊5px */
        -webkit-backdrop-filter: blur(5px);
        opacity: 1; /* 最终完全可见 */
    }
}

:root {
    --default-green: rgba(138, 163, 45, 0.7);
    --focus-green: rgb(121, 150, 37);
    --hover-green: rgba(81, 175, 71, 0.7);
    --press-green: rgba(90, 206, 24, 0.7);
    --default-white: rgba(255, 255, 255, 0.7);
    --hover-white: rgba(236, 236, 236, 0.7);
    --default-grey: rgba(166, 166, 166, 0.7);
    --hover-grey: rgba(114, 115, 114, 0.7);
    --box-shadow: rgba(0, 0, 0, 0.4);
    --yellow-text: rgb(255, 200, 0);
}

.body {
    font-family: "GenshinImpactZhLv1", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navi {
    background-color: var(--default-green);
    padding: 20px 40px;
    box-shadow: 5px 5px 10px var(--box-shadow);
    border-radius: 15px;
}

.navi ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap; /* 在小屏幕时允许项目换行 */
    justify-content: flex-start; /* 居左对齐 */
}

.navi:hover {
    background-color: var(--hover-green);
    transition: 0.5s;
    border-radius: 0px;
}

.navi:not(:hover) {
    background-color: var(--default-green);
    transition: 0.5s;
    border-radius: 15px;
}

.nav-item {
    margin-right: 25px;
}

.language {
    position: absolute;
    right: 30px;
}

.nav-item a {
    text-decoration: none;
    color: white;
    padding: 8px 16px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-item a:hover {
    background-color: var(--hover-white);
    transition: 0.5s;
    color: var(--yellow-text);
}

/* 基础按钮样式 */
.custom-button {
    background-color: var(--default-green); /* 扁平的绿色背景 */
    border: none; /* 无边框 */
    color: white; /* 字体颜色白色 */
    padding: 10px 10px; /* 内边距 */
    font-family: "GenshinImpactZhLv1", sans-serif; /* 自定义字体 */
    font-size: 16px; /* 字体大小 */
    border-radius: 10px; /* 小的圆角 */
    cursor: pointer; /* 鼠标指针样式 */
    transition: background-color 0.3s ease; /* 背景颜色的过渡效果 */
    width: 100px;
    height: 50px;
    box-shadow: 5px 5px 10px var(--box-shadow);
}

/* 键盘选中时的效果 */
.custom-button:focus {
    outline: 2px var(--focus-green);
    outline-offset: 2px;
}


/* 鼠标悬停时的效果 */
.custom-button:hover {
    background-color: var(--hover-green);
    transition: 0.5s;
    box-shadow: none;
}

/* 鼠标按下时的效果 */
.custom-button:active {
    background-color: var(--press-green); /* 按下时更浅的绿色 */
    box-shadow: inset 5px 5px 10px var(--box-shadow);
}

h1 {
    color: white;
}

.textbox-container {
    display: flex;  /* 使用flex布局 */
    gap: 10px; /* 元素之间的间距 */
    justify-content: flex-start; /* 左对齐 */
    flex-wrap: wrap; /* 当屏幕较窄时，自动换行 */
}

.textbox {
    display: inline-block; /* 让宽度根据内容自动调整 */
    width: fit-content;
    border: 2px dashed var(--default-grey);
    border-radius: 15px;
    box-shadow: 5px 5px 10px var(--box-shadow);
    padding: 1rem 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    overflow: auto; /* 当内容过多时显示滚动条 */
}

.textbox:hover {
    background-color: var(--hover-white);
    transition: 0.5s;
    border-radius: 0px;
}

.textbox:not(:hover) {
    border: 2px dashed var(--default-grey);
    transition: 0.5s;
    border-radius: 15px;
}

.site-footer {
    background-color: var(--default-grey);
    color: black;
    padding: 20px 10px;
    text-align: center;
    margin-top: auto; /* 确保footer位于页面底部 */
    box-shadow: 5px 5px 10px var(--box-shadow);
    border-radius: 15px;
}

.site-footer:hover {
    background-color: var(--hover-grey);
    transition: 0.5s;
    border-radius: 0px;
}

.site-footer:not(:hover) {
    background-color: var(--default-grey);
    transition: 0.5s;
    border-radius: 15px;
}

.footer-content {
    margin: 0 auto;
}

.social-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 0 auto 0;
}

.social-links a {
    padding: 0 10px;
}

.web-links a {
    color: white;
    text-decoration: none;
}

.web-links a:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.7);
}

/* 响应式布局：针对屏幕宽度小于1090px的设备（如手机） */
@media (max-width: 1090px) {
    .language {
        position: static;
    }

    .navi {
        padding: 5px 10px; /* 减少导航栏内边距 */
    }

    .navi ul {
        flex-direction: column; /* 导航项垂直排列 */
        align-items: center; /* 居中对齐 */
    }

    .nav-item {
        margin-right: 0;
        margin-bottom: 25px; /* 增加导航项之间的垂直间距 */
    }

    .nav-item a {
        font-size: 16px; /* 调整字体大小 */
        padding: 10px 20px; /* 增加点击区域 */
    }

    .web-links{
        display: flex;
        flex-direction: column; /* 垂直方向排列 */
    }
}
